/* For debugging */
div {
	border: 1px solid;
}

/* Generics */
td {
	text-align: center;
}

thead tr {
	background-color: #00db00;
}

body, html {
	height: 100%;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

/* The progress bar */
.meter-outer, .meter-value {
	background: url(progress.png) repeat-x;
	height: 1.2em;
	width: 180px;
}

.meter-outer {
	background-color: #0a0;
	position: relative;
}

.meter-value {
	background-color: #00a;
}

.meter-text {
	color: white;
	position: absolute;
	width: 100%;
}

/* Downloads table */
#downloads tbody tr:nth-child(even) {
	background-color: #d4ff66;
}

/*#downloads tbody tr:nth-child(odd) {
	background-color: #66ffed;
}*/

#downloads tbody tr:hover {
	background-color: #ccc;
}

#downloads tr.picked {
	background-color: skyblue !important;
}

#downloads table {
	margin-left: auto;
	margin-right: auto;
}

#downloads {
	height: 50%;
	overflow: auto;
	clear: both;
}

/* Stats table */
#stats {
	display: inline-block;
	border: 4px solid;
	padding: 1em;
	margin-top: 2em;
}

/* Logo */
#logo {
	display: inline-block;
	float: left;
	margin-bottom: 1em;
}

/* Version */
#version {
	display: inline-block;
	float: right;
	margin: 1em;
}

#additions {
	padding-top: 1em;
	padding-bottom: 1em;
}

#error {
	display: inline-block;
	padding: 1em;
	margin-top: 5em;
	border: 2px ridge red;
}

.settingsShown {
	position: fixed;
	left: 10%;
	right: 10%;
	top: 5em;
	border: 4px ridge;
	min-height: 200px;
	max-height: 80%;
	background: url(settingsbg.png);
	overflow: auto;
}

#settingstable {
	margin-left: auto;
	margin-right: auto;
}

#settingstable td {
	padding: 0.5em;
	text-align: right;
}
