/* For debugging */
div {
	border: 1px solid;
}

/* Generics */
td {
	text-align: center;
}

/* The progress bar */
.meter-outer, .meter-value {
	background: url(progress.png) repeat-x;
	height: 1.2em;
	width: 180px;
}

.meter-outer {
	background-color: #0a0;
	position: relative;
}

.meter-value {
	background-color: #00a;
}

.meter-text {
	color: white;
	position: absolute;
	width: 100%;
}
